{% extends 'base.html' %}
{% load static %}

{%block body%}


<section class="welcome_page">
  <h5>WELCOME TO</h5>

  <h1>CODE HUNTER</h1>
  <P>PROGRAMING & TECHNOLOGY BLOGS</P>
</section>

<section class="blog_Section">

  <h1 class="text-center text-dark bg-light">ALL BLOG</h1>
  <div class="box container">

    {%for blogs in blog%}
      <div class="card" style="width: 18rem;">
        <img src="/media/{{blogs.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{blogs.title | truncatechars:40}}</h5>
          <p class="text-secondary">{{blogs.create_to}}</p>
    
          <a href="{% url 'blog_page' blogs.slug %}">Read...</a>
        </div>
      </div>
    {% endfor %}


  </div>
  
</section>

{%endblock body%}